*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
   height: 100%;
}
.clear{
    clear: both;
}
.container{
    max-width: 1200px;
    width: 100%;
	margin: 0 auto;
}

.w50{
	width: 50%;
	float: left;
	display: inline-block;
	text-align: center;
}

.w100{
	width: 100%;
	text-align: center;
}

/* style do chat */

sidebar{
	width: 30%;
	float: left;
	margin-top: 30px;
}

sidebar > .Menu{
	text-align: center;
    line-height: 40px;
	padding: 40px;
}



sidebar > .sidebarBtn{
	display: block;
	margin-bottom: 15px;
    text-align: center;
    line-height: 40px;
    background-color: #037d81;
    text-decoration: none;
    border-bottom: 5px solid #3edfd7;
    color: white;
    font-size: 16px;
    max-width: 500px;
	font-style: italic;
	cursor: pointer;
}

sidebar > .Menu{
	text-align: center;
    line-height: 30px;
	padding: 0;
}

sidebar > .sidebarBtn:hover{
	background-color: #9ae2e4;
}

.painel{
	margin: 60px auto;
	padding: 20px;
	width: 70%;
	float: left;
}

.boxer{
	display: block;
	width: 100px;
	height: 100px;
	background-color:transparent;
}

#luz,#visor{
	display: block;
	margin: 0 auto;
	width: 80%;
	max-height: 100px;
}

#led{
	display: block;
	margin: 0 auto;
	width: 90%;
	max-height: 100px;
}


.painel input[type=text]{
	width: 50%;
	text-align: center;
	font-size: 25px;
	border: 0;
	margin: 0 auto;
	margin: 10px;
}
.btn1{
	display: block;
	margin-bottom: 15px;
    text-align: center;
    line-height: 40px;
    background-color: #EB2D2D;
    text-decoration: none;
    border-bottom: 5px solid #B21E1E;
    color: white;
    font-size: 16px;
    max-width: 500px;
	font-style: italic;
	cursor: pointer;
}

.btn1:hover{
	background-color: #e09a9a;
}

#sala_chat{
	display: none;
}


#chat{
	width: 100%;
}

#chat input[type=text]{
	margin-top: 20px;
	width: 69%;
    border: 1px solid #ccc;
    height: 100px;
    padding-left: 15px;
	line-height: 40px;
	display: inline-block;
}

#chat input[type=submit]{
	width: 30%;
	height: 100px;
	display: inline-block;
}



#acesso_usuario{
	display: block;
	height:30px;
	left:50%;
	margin-left:-160px;
	margin-top:-15px;
	position: fixed;
	top:30%;
	width:320px;
}
#acesso_usuario form{
	margin:0 auto;
}

#acesso_usuario input[type=text]{
	width: 100%;
    border: 1px solid #ccc;
    height: 80px;
    padding-left: 15px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
}

#acesso_usuario input[type=submit]{
	width: 100%;
	margin-top: 20px;
}

#acesso_usuario h2{
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
	color: black;
}
@media screen and (max-width: 800px){

	#historico_mensagens{
		width: 100%;
	}
	
	#lista_usuarios{
		width: 100%;
	}

	#chat{
		width: 100%;
	}
	
	#chat input[type=text]{
		width: 100%;
	}
	
	#chat input[type=submit]{
		width: 100%;
	}
	
	#sair{
		width: 100%;
	}

	.w50{
		width: 100%;
		text-align: center;
	}

	.w100{
		width: 100%;
		text-align: center;
	}

	#luz,#visor,#led{
		width: 100%;
	}
}